<h2>Event Registration</h2>
<%= bootstrap_form_for(@invitee) do |f| %>
  <%= render 'shared/errors', object: @invitee %>
  <%= f.text_field :first_name %>
  <%= f.text_field :last_name %>
  <%= f.collection_select(:meal_id, Meal.all, :id, :name, label: "Meal Choice") %>
  <%= f.nested_fields_for :guests do |ff| %>
    <hr>
    <%= ff.text_field :first_name, label: 'Guest First Name' %>
    <%= ff.text_field :last_name, label: 'Guest First Name' %>
    <%= ff.collection_select(:meal_id, Meal.all, :id, :name, label: 'Guest Meal Choice') %>
    <%= ff.remove_nested_fields_link 'Remove This Guest', class: 'btn btn-danger', role: 'button' %>
  <% end %>
  <hr>
  <div class="center">
    <%= f.button 'Submit RSVP', class: 'btn btn-primary' %>
    <div class="divider"></div>
    <%= f.add_nested_fields_link :guests, 'Add Guest', class: 'btn btn-success' %>
  </div>
<% end %>
