<% provide(:title, "All Users") %>
<div class="jumbotron">
    First Name: <%= @invitee.first_name %> <br>
    Last Name: <%= @invitee.last_name %> <br>
    Meal: <%= get_meal(@invitee.meal_id) %> <br>
    <% @guests.each do |guest| %>
    First Name: <%= guest.first_name %> <br>
    Last Name: <%= guest.last_name %> <br>
    <% end %>
</div>
