<% provide(:title, "Registries") %>
<div class="center jumbotron">
  <p><strong>Links to our registries are listed below:</stong></p>
  <p><%= link_to(image_tag("crateandbarrel.png", :width => '400', :height => '56.8', :title => "Crate & Barrel"), "http://www.crateandbarrel.com/gift-registry/katie-shaiken-and-paul-chicarello/r5428239") %></p>
  <p><%= link_to(image_tag("macys.png", :width => '400', :height => '107.5', :title => 'Macy\'s'), "http://www1.macys.com/registry/wedding/guest/?registryId=6484163") %> </p>
  <p>We are being gifted this table from Jordan’s furniture as a wedding present, but we still need the chairs to go with it!  Jordan’s doesn’t offer a registry service, but their sales department suggests a gift card.  Gift cards can be purchased in store or by clicking <a href="http://www.jordans.com/gift-cards">here</a>.  Thank you!</p>
  <p> <%= link_to(image_tag("jordans.png", :title => 'Jordan\'s Furniture'), "http://www.jordans.com") %></p>
  <p><%= image_tag("katietable.jpg") %>
   <%= image_tag("table.jpg") %></p>
</div>
