<header>
<nav role="navigation" class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Story", story_path %></li>
        <li><%= link_to "Photos", photos_path %></li>
        <li><%= link_to "Cats", cats_path %></li>
        <li><%= link_to "Event", event_path %></li>
        <li><%= link_to "Registries", registries_path %></li>
        <li><%= link_to "RSVP", rsvp_path %></li>
      </ul>
</nav>
  <h1>Paul & Katie</h1>

  <div class="center">
   <%=  image_tag("logo.png", size: "325x135") %>
   </div>
     <h2>August 13, 2016</h2>
</header>